<h2 style="text-align: center;">Part 2 - Form Functions</h2>
<div class="tableContainer">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Enter Name" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email">
        </div>
        <div class="form-group">
            <label for="pNo">Phone Number</label>
            <input type="number" id="pNo" placeholder="Enter Phone Number" class="form-control">
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter Password" name="pwd">
        </div>
        <div class="form-group">
            <label for="cpwd">Confirm Password</label>
            <input type="password" class="form-control" id="cpwd" placeholder="Confirm Password" name="cpwd">
        </div>
        
      <button type="submit" class="btn btn-primary" style="width: 100%;height: 36px;margin-top: 8px;">SAVE</button>
    </form>
  </div> 

  